.UpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    gap: 20px;
    height: 100%;
}
.profilePic{
    width: 35%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profilePic>img {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    
}
.inputDataUpdate{
    width: 50%;
    margin-left: 20vh;
    height: 100%;
    box-shadow: 6px 6px 40px 3px #222222;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    gap: 5vh;
}
.inputDataUpdate>h2{
    margin: 0;
}
hr{
    width: 100%;
}
.inputDataUpdate input{
    width: 100%;
    height: 56px;
    border-radius: 50vh;
    font-size: 16px;
    font-family: inherit;
    border: 0;
    padding: 0 24px;
    color: #222222;
    background: #ededed;

}
.inputDataUpdate  input::placeholder {
    color: rgb(0 0 0 / 60%);
}
.UpdProfile{
    width: 40%;
    align-self: center;
    height: 6vh;
    border-radius: 50vh;
    border: 0;
    background-color: rgb(94, 189, 94);
    color: white;
    font-size: large;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.UpdProfile:hover{
    background-color: rgb(70, 143, 70);
}